version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "StrongPassword123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"

  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"

  appointmentservice:
    build: ./AppointmentService
    ports:
      - "5001:8080"
    depends_on:
      - sqlserver
    environment:
      ConnectionStrings__DefaultConnection: "Server=sqlserver;Database=AppointmentDb;User Id=sa;Password=StrongPassword123!;TrustServerCertificate=True"

  queueservice:
    build: ./QueueService
    ports:
      - "5002:8080"
    depends_on:
      - redis
