apiVersion: apps/v1
kind: Deployment
metadata:
  name: queue-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: queue
  template:
    metadata:
      labels:
        app: queue
    spec:
      containers:
      - name: queue
        image: kohein/queueservice:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: queue-service
spec:
  type: LoadBalancer
  selector:
    app: queue
  ports:
    - port: 80
      targetPort: 8080
